<footer class="footer bg-black text-white">
  <div class="container py-5 px-4">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-8 col-xl-9">
        <div>
          <ul class="nav flex-column">
            {% if footer.hasRefundPolicy %}
              <li class="nav-item mb-2">
                <a
                  class="link-light text-white-50 small link-underline-opacity-0 link-offset-2 link-underline link-underline-opacity-100-hover text-white px-0"
                  href="/refund-policy"
                  target="_blank">Returns & Refunds</a>
              </li>
            {% endif %}
            {% if footer.hasPrivacyPolicy %}
              <li class="nav-item mb-2">
                <a
                  class="link-light text-white-50 small link-underline-opacity-0 link-offset-2 link-underline link-underline-opacity-100-hover text-white px-0"
                  href="/privacy-policy"
                  target="_blank">Privacy Notice</a>
              </li>
            {% endif %}
            {% if footer.hasTermsAndConditions %}
              <li class="nav-item mb-2">
                <a
                  class="link-light text-white-50 small link-underline-opacity-0 link-offset-2 link-underline link-underline-opacity-100-hover text-white px-0"
                  href="/terms"
                  target="_blank">Terms of Service</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mt-4 mt-md-0">
        <div class="nav list-unstyled d-flex">
          {% for link in footer.socialLinks %}
            {% if link | includes: "x.com" %}
              <a class="text-white ms-3" href="{{link}}">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            {% elsif link | includes: "twitter.com" %}
              <a class="text-white ms-3" href="{{link}}">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            {% elsif link | includes: "instagram.com" %}
              <a class="text-white ms-3" href="{{link}}">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            {% elsif link | includes: "youtube.com" %}
              <a class="text-white ms-3" href="{{link}}">
                <ion-icon name="logo-youtube"></ion-icon>
              </a>
            {% elsif link | includes: "facebook.com" %}
              <a class="text-white ms-3" href="{{link}}">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            {% elsif link | includes: "linkedin.com" %}
              <a class="text-white ms-3" href="{{link}}">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="pt-4">
      <div class="d-flex text-secondary">
        <small>© 2023 {{ storeName }} All Rights Reserved</small>
      </div>
    </div>
  </div>
</div>