{% layout "default.liquid" %}

{% block content %}
  <div class="container py-5 category-products">
    <div class="category-content">
      {% if keyword %}
        <div class="input-group rounded-pill position-relative mb-5 mx-auto" style="max-width: 700px;">
          <div class="form-floating">
            <input class="form-control px-4 rounded-pill" value="{{keyword}}" placeholder="" data-field="product-search">
            <label class="px-4" for="floatingInput">Search</label>
          </div>
          <span class="input-group-text rounded-pill border-0 bg-transparent position-absolute end-0 top-50 translate-middle-y" style="z-index: 99">
            <ion-icon style="font-size: 24px" name="search-outline"></ion-icon>
          </span>
        </div>
        <h2 class="h2 fw-bold mb-3 text-center mb-5">
          Results for '{{ keyword }}'
        </h2>
      {% else %}
        <h2 class="h2 fw-bold mb-3 text-center mb-5">
          {{ title }}
        </h2>
      {% endif %}
      <div class="row row-gap-5 row-cols-2 row-cols-lg-4 justify-content-lg-between justify-content-center">
        {% for product in products %}
          <a class="col product" href="/products/{{ product.id }}">
            {% if product.media[0].url %}
              <div class="overflow-hidden">
                <img
                  src="{{ product.media[0].url }}"
                  class="img-fluid product__image">
              </div>
            {% else %}
              <div style="height: 370px" class="d-flex flex-column text-white align-items-center bg-secondary-subtle justify-content-center">
                <ion-icon class="fs-1" name="image"></ion-icon>
                <span>No Image</span>
              </div>
            {% endif %}
            <div class="p-2 text-black text-start">
              <div class="mt-3 h6 product__title fw-bold">{{ product.name }}</div>
              <div>{{ product.variants[0].price | money_format }}</div>
              <button class="btn btn-outline-primary w-100 btn-lg mt-2">Buy Now</button>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block pagescripts %}
  <script>
    const FtoShow = '.filter';
    const Fpopup = document.querySelector(FtoShow);
    const Ftrigger = document.querySelector('.filter-trigger');
   if (Ftrigger) {
    Ftrigger.addEventListener('click', () => {
      setTimeout(() => {
        if (! Fpopup.classList.contains('show')) {
          Fpopup.classList.add('show')
        }
      }, 250)
    })
   }
    // document.addEventListener('click', (e) => {
    //   const isClosest = e.target.closest(FtoShow);
    //   if (! isClosest && Fpopup.classList.contains('show')) {
    //     Fpopup.classList.remove('show')
    //   }
    // })

    function updateURL() {
      const checkedCheckboxes = document.querySelectorAll('.form-check-input:checked');
      const checkedValues = Array.from(checkedCheckboxes).map(checkbox => checkbox.nextElementSibling.textContent.trim());
      const categoryID = '{{category.id}}';

      const filterString = checkedValues.map(value => `Brand:${value}`).join('|');
      const newURL = `/categories/${categoryID}/?filter=${filterString}`;

      const applyButton = document.querySelector('.btn-primary');
      applyButton.href = newURL;
    }
    // document.addEventListener('DOMContentLoaded', () => {
    //   const applyButton = document.querySelector('.btn-primary');
    //   applyButton.addEventListener('click', updateURL);
    // });
  </script>
{% endblock %}
