{% layout "default.liquid" %}

{% block content %}

  {% if cart.items.length == 0 %}
    <div class="container my-5 py-5" id="cart-empty">
      <div class="d-flex flex-column align-items-center">
        <img
          style="height: 280px"
          src="{{ asset_url }}/images/empty-cart.svg"
          alt="">
        <div class="mt-5">Your cart is empty.</div>
        <a href="/" class="btn btn-primary btn-lg mt-4 text-uppercase">Start shoppping</a>
      </div>
    </div>
  {% endif %}

  {% if cart.items.size > 0 %}
    <div class="container py-5" id="cart-items">
      <h2 class="text-center mb-4 text-uppercase fw-bold">Cart</h2>
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-8 px-5">
            <table class="table" id="cart-table">
              <thead>
                <tr>
                  <th style="width: 450px" class="fw-semibold text-secondary ps-0 pb-3">Product</th>
                  <th style="width: 150px" class="fw-semibold text-secondary ps-0 pb-3">Quantity</th>
                  <th style="width: 150px" class="fw-semibold text-secondary ps-0 pb-3">Total</th>
                </tr>
              </thead>
              <tbody>
                {% for item in cart.items %}
                  <tr data-id="{{item.id}}">
                    <td class="ps-0 py-4">
                      <div class="d-flex">
                        <img
                          class="image-fluid"
                          src="{{item.image}}"
                          style="width: 92px" />
                        <div class="ms-4">
                          <div>{{ item.name }}</div>
                          <div class="text-secondary mt-4">{{ item.variant }}</div>
                          <div class="fw-semibold mt-2">{{ item.price }}</div>
                        </div>
                      </div>
                    </td>
                    <td class="ps-0 py-4">
                      <div class="border border rounded d-inline-flex">
                        <button class="border-0 bg-transparent bg-hover d-flex align-items-center">
                          <ion-icon
                            class="fs-5"
                            name="remove-outline"
                            data-action="decrement"></ion-icon>
                        </button>
                        <span class="px-3 py-2">{{ item.quantity }}</span>
                        <button class="border-0 bg-transparent d-flex align-items-center">
                          <ion-icon
                            data-action="increment"
                            name="add-outline"
                            class="fs-5"></ion-icon>
                        </button>
                      </div>
                    </td>
                    <td class="ps-0 py-4">
                      <div class="fw-bold fs-6">{{ item.total }}</div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-4">
            <div class="bg-light rounded-3 p-4">
              <div class="row mb-3 fs-6 fw-semibold">
                <div class="col">Total</div>
                <div class="col-3 text-end" id="total"></div>
              </div>
              <div class="row mb-3">
                <div class="col" id="total-price-text">Price ({{ cart.items.length }} item)</div>
                <div class="col-3 fw-semibold text-end" id="total-price">{{ cart.total_amount }}</div>
              </div>
              <button class="btn btn-lg text-uppercase btn-primary d-flex w-100" data-action="checkout">
                <div>
                  <ion-icon class="fs-6 align-middle me-auto" name="lock-closed-outline"></ion-icon>
                </div>
                <div class="flex-grow-1">
                  <span class="align-middle">Checkout</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block pagescripts %}
  <script>
    window.__appState.cart = {{cart|json}};
  </script>
{% endblock %}